@font-face {
    font-family: 'UrbanStarbluesDemo';
    src: url(/src/assets/fonts/Urban\ Starblues\ Demo.otf) format('opentype');
    font-weight: normal;
    font-size: normal;
    font-display: swap;
}